
<header id="header_nav" class="masthead" style="margin-top: 1px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner overlay" role="listbox">
            <!-- Slide One -->
            <div class="carousel-item active overlay" style=" background: rgba(0, 0, 0, 0.6);">
                <div class="carousel-caption d-none d-md-block" style="bottom: 244px">
                    <h3 class="display-1 text-white">Bienvenue</h3>

                    <h3 class="display-4 text-white">Billetterie officielle du Musée de Louvre</h3>
                    <a href="{{ path('acheter_billet') }}" class="btn btn-primary"> Achetez votre billet</a>
                </div>
            </div>
            <!-- Slide Two  -->
            <div class="carousel-item overlay" style=" background: rgba(0, 0, 0, 0.6);">
                <div class="carousel-caption d-none d-md-block" style="bottom: 244px">
                    <h3 class="display-1 text-white">Musée du Louvre</h3>

                    <h3 class="display-4 text-white">Collections permanentes, expositions temporaires et musée Eugène
                        Delacroix</h3>
                    <a href="{{ path('acheter_billet') }}" class="btn btn-primary"> Achetez votre billet</a>                </div>
            </div>
            <!-- Slide Three  -->
            <div class="carousel-item overlay" style=" background: rgba(0, 0, 0, 0.6);">
                <div class="carousel-caption d-none d-md-block"style="bottom: 244px" >
                    <h3 class="display-4 text-white">Entrez au musée en moins de 30 minutes</h3>

                    <h3 class="display-4 text-white">en achetant votre billet en ligne :</h3>
                    <a href="{{ path('acheter_billet') }}" class="btn btn-primary"> Achetez votre billet</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</header>
<script>
    setTimeout(function() {
        $("#delai").remove();
    }, 3000);
</script>