<div id="reservation_info">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Sélectionner une date</label>
            <div id="date_visite" data-date="12/03/2012"></div>
            <input type="hidden" id="my_hidden_input" name="date_reservation" required>
            <input type="hidden" id="date_reservation_formated" name="date_reservation_formated" required>

            <div class="alert alert-danger" id="error_date_reservation" style="display: none;"></div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nb_billet" class="col-form-label">Type de billet </label>
                <select name="type_billet" class="form-control">
                    <option selected hidden>--- choisissez le type de billet ---</option>
                    <option value="journee" id="journee_type" disabled>Journée</option>
                    <option value="demi-journee">Demi-journée</option>
                </select>
                <br>
                <em class="error-field" id="type_billet"></em>
            </div>
            <div class="form-group col-md-12">
                <label for="nb_billet" class="col-form-label">Choisissez le nombre de billets</label>
                <input type="number" class="form-control" placeholder="nombre de billet" id="nb_billet" name="nb_billet" required>
                <br>
                <em class="error-field" id="validation"></em>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <center>
                <div class="button-wrapper" style="margin-left: 52%">
                    <button id="etapeSuivant" class="a-btn">
                        <span class="a-btn-text">Passez à l'étape suivante</span>
                        <span class="a-btn-slide-text">Renseignement sur le(s) billet(s)</span>
                    </button>
                </div>
            </center>
        </div>
    </div>
</div>