<div content id="paiement_info" style="display: none;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3">
                    <label>Détails de paiement</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="nomclient">Nom</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nomclient"  placeholder="Votre nom"/>
                        <em id="nomclient" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="emailclient">Email</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="email" class="form-control" name="emailclient" placeholder="Votre email"/>
                        <em id="emailclient" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Numéro carte</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="number" data-stripe="number"
                               placeholder="Votre numéro de carte" value="4242 4242 4242 4242"/>
                        <em id="card_error" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Mois d'expiration</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <select name="exp-month" class="form-control" data-stripe="exp-month">
                            <option value="01">Janvier</option>
                            <option value="02">Février</option>
                            <option value="03">Mars</option>
                            <option value="04">Avril</option>
                            <option value="05">Mai</option>
                            <option value="06">Juin</option>
                            <option value="07">Juillet</option>
                            <option value="08">Août</option>
                            <option value="09">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                        <em id="exp_month" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Année d'expiration</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <select name="exp-year" class="form-control" data-stripe="exp-year">
                            {% for i in 0..10 %}
                                <option value="{{ 'now'|date('Y') + i }}">{{ 'now'|date('Y') + i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Code de vérification</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="cvc" data-stripe="cvc"
                               placeholder="Votre cvc"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //get stripe info
        Stripe.setPublishableKey('{{ container.parameter('stripe_public_key') }}');

        var $_form = $('#payment-form');
        $('input[name="emailclient"]').on('keydown',function (e) {
            $('#emailclient').html('');
        });
        $('input[name="nomclient"]').on('keydown',function (e) {
            $('#nomclient').html('');
        });
        $_form.submit(function (e) {
            e.preventDefault();
            $_form.find('button').prop('disabled', true);
            if($('input[name="emailclient"]').val() == '' || $('input[name="nomclient"]').val() == ''){
                $_form.find('button').prop('disabled', false);
                if($('input[name="emailclient"]').val() == '' && $('input[name="nomclient"]').val() != ''){
                    $('#nomclient').html('');
                    $('#emailclient').html('Champ obligatoire');
                }
                if($('input[name="emailclient"]').val() != '' && $('input[name="nomclient"]').val() == ''){
                    $('#nomclient').html('Champ obligatoire');
                    $('#emailclient').html('');
                }
                if($('input[name="emailclient"]').val() == '' && $('input[name="nomclient"]').val() == ''){
                    $('#nomclient').html('Champ obligatoire');
                    $('#emailclient').html('Champ obligatoire');
                }
            }else{
                $("#loading_pay").fadeIn(1000).css("display", "block");
                $('#nomclient').html('');
                $('#emailclient').html('');
                Stripe.card.createToken($_form,function (status, response) {
                    $("#loading_pay").fadeIn(1000).css("display", "block");
                    if(response.error){
                        $("#loading_pay").fadeIn(1000).css("display", "none");
                        $_form.find('button').prop('disabled', false);
                        $('#card_error').html('');
                        $('#exp_month').html('');
                        if(response.error.type == "card_error" && response.error.param == "number") $('#card_error').html('Votre numéro de carte est invalide');
                        if(response.error.type == "invalid_request_error") {
                            $('#exp_month').html('');
                            $('#card_error').html('Veuillez saisir votre numéro de carte');
                        }
                        if(response.error.type == "card_error" && response.error.param == "exp_month") $('#exp_month').html('Votre carte n\'est plus valide');
                        //$_form.find('.payment-errors').text(response.error.message);
                    }else{
                        $("#loading_pay").fadeIn(1000).css("display", "block");
                        $_form.find('#card_error').html();
                        $('#card_error').html('');
                        $('#exp_month').html('');
                        var _token = response.id;
                        $_form.append('<input type="hidden" name="stripeToken" value="'+_token+'" />');
                        $_form.get(0).submit();
                    }
                })
            }
        });
    </script>
{% endblock %}