<div content id="paiement_info" style="display: none;">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-3">
                    <label>Détails de paiement</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="display-td">
                            <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="nomclient">Nom</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nomclient"  placeholder="Votre nom"/>
                        <em id="nomclient" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="emailclient">Email</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="emailclient" placeholder="Votre email"/>
                        <em id="emailclient" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Numéro carte</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="number" data-stripe="number"
                               placeholder="Votre numéro de carte"/>
                        <em id="card_error" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Mois d'expiration</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <select name="exp-month" class="form-control" data-stripe="exp-month">
                            <option value="01">Janvier</option>
                            <option value="02">Février</option>
                            <option value="03">Mars</option>
                            <option value="04">Avril</option>
                            <option value="05">Mai</option>
                            <option value="06">Juin</option>
                            <option value="07">Juillet</option>
                            <option value="08">Août</option>
                            <option value="09">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                        <em id="exp_month" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Année d'expiration</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <select name="exp-year" class="form-control" data-stripe="exp-year">
                            {% for i in 0..10 %}
                                <option value="{{ 'now'|date('Y') + i }}">{{ 'now'|date('Y') + i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label for="number">Code de vérification</label>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="cvc" data-stripe="cvc"
                               placeholder="Votre cvc"/>
                        <em id="cvc" style="color: red; float: right; font-size: 13px;"></em>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>